[defaults]
inventory = inventory.ini
host_key_checking = True
interpreter_python = auto_silent
collections_path = ./ansible/collections
local_tmp = /tmp/ansible-local
remote_tmp = /tmp/.ansible-${USER}/tmp

[ssh_connection]
pipelining = True
